html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
}
.map-canvas {
	margin: 10px;
}
a.button {
	text-decoration: none;
}
body.index .main-button {
}

form label.error {
	color: #ff0000;
}
form input.error {
	border-color: #ff0000;
}
