html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
}
.map-canvas {
	margin: 10px;
}
a.button {
	text-decoration: none;
}
body.index .main-button {
}

form label.error {
	color: #ff0000;
}
form input.error {
	border-color: #ff0000;
}

/* google maps autocomplete */
.pac-container {

}
.pac-item {
	padding: 8px 4px;
}

#go-2 li.refused {

}
#go-2 li span.refused {
	font-weight: normal;
	font-style: italic;
	color: #f06060;
}

#go-2 em.num-ratings {
	font-size: 12px;
}

/* rating stars */
.show-star {
	width: 16px;
	height: 16px;
	background-image: url('/img/star.gif');
	float: left;
}

.show-star-full {
	background-position: 0 16px;
}

#go-3 h3 {
	text-align: center;
}
#go-3 .go-3-abort {
	margin-top: 1em;
	text-align: center;
}

#go-4-accept > .pad, #go-5 > .pad {
	padding: 10px;
}
.go-4 dd {
	font-weight: bold;
	margin-bottom: 0.5em;
}

#go-5 .rating-ctnr {
	zoom: 250%;
}

.rating-cancel {
	display: none !important;
}

#go-5 .go-5-done {
	text-align: center;
	clear: both;
	margin-top: 80px;
}
