html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
}
.map-canvas {
	margin: 10px;
}
a.button {
	text-decoration: none;
}
body.index .main-button {
}

form label.error {
	color: #ff0000;
}
form input.error {
	border-color: #ff0000;
}

/* google maps autocomplete */
.pac-container {

}
.pac-item {
	padding: 8px 4px;
}

/* rating stars */
.show-star {
	width: 16px;
	height: 16px;
	background-image: url('/img/star.gif');
	float: left;
}

.show-star-full {
	background-position: 0 16px;
}

#go-3 h3 {
	text-align: center;
}
#go-3 .go-3-abort {
	margin-top: 1em;
	text-align: center;
}

